<div *ngIf="error">
  Error
</div>

<loading *ngIf="!error && loading"></loading>

<div [hidden]="error || loading">
  <div [hidden]="(services | async)?.length" class="table-responsive">
    No hay ningún servicio
  </div>

  <div [hidden]="!(services | async)?.length" class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>campo 1</th>
          <th>campo 2</th>
          <th>Estado</th>
          <th style="width: 42px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services | async">
          <td>{{service.id}}</td>
          <td>{{service.id}}</td>
          <td>
            <span class="label label-success">
              {{service.id}}
            </span>
          </td>
          <td class="actions">
            <table>
              <tbody>
              <tr>
                <td>
                  <a title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a title="Borrar"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
