/*
  Center in page

 */
.page-container {
  text-align: center;
}

/*
  Google map

 */
.sebm-google-map-container {
  height: 300px;
}

/*
  Center form

 */
.panel-body {
  text-align: center;
}

/*
  Filter wrapper margins

 */
.filter-wrapper {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/*
  Table wrapper margins

 */
.table-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

/*
  Button wrapper margins

 */
.button-wrapper {
  margin-left: 15px;
  margin-bottom: 15px;
}

/*
  Do not display field

 */
.file {
  display: none;
}

/*
  Label design for file upload

 */
.fileLabel {
  cursor: pointer;
}
