/*
  Center in page

 */
.page-container {
  text-align: center;
}

/*
  Google map

 */
.sebm-google-map-container {
  height: 300px;
}

/*
  Center form

 */
.panel-body {
  text-align: center;
}

/*
  Button wrapper

 */
.button-wrapper {
  margin-left: 15px;
  margin-bottom: 15px;
}
