<div _ngcontent-bbc-51="" class="col-sm-6">
    <div _ngcontent-bbc-51="" class="panel panel-default">
       <div _ngcontent-bbc-51="" class="panel-heading">Stacked form</div>
       <div _ngcontent-bbc-51="" class="panel-body">
          <form _ngcontent-bbc-51="" role="form" class="ng-untouched ng-pristine ng-valid">
             <div _ngcontent-bbc-51="" class="form-group">
                <label _ngcontent-bbc-51="">Username</label>
                <input _ngcontent-bbc-51="" class="form-control" placeholder="Enter email" type="email">
             </div>
             <div _ngcontent-bbc-51="" class="form-group">
                <label _ngcontent-bbc-51="">Password</label>
                <input _ngcontent-bbc-51="" class="form-control" placeholder="Password" type="password">
             </div>
             <div _ngcontent-bbc-51="" class="checkbox c-checkbox">
                <label _ngcontent-bbc-51="">
                   <input _ngcontent-bbc-51="" checked="" type="checkbox">
                   <span _ngcontent-bbc-51="" class="fa fa-times"></span>Check me out</label>
             </div>
             <button _ngcontent-bbc-51="" class="btn btn-sm btn-default" type="submit">Submit</button>
          </form>
       </div>
    </div>
 </div>
