<div _ngcontent-iou-53="" class="panel panel-default">
  <div _ngcontent-iou-53="" class="panel-body">
    <form _ngcontent-iou-53="" action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get">

      <!--Start Register fields-->
      <legend _ngcontent-iou-53="">Registro</legend>
      <fieldset _ngcontent-iou-53="">
        <div _ngcontent-iou-53="" class="form-group">
          <label _ngcontent-iou-53="" class="col-sm-2 control-label" for="input-id-1">Nombre</label>
          <div _ngcontent-iou-53="" class="col-sm-10">
            <input _ngcontent-iou-53="" class="form-control" id="input-id-1" type="text" #name>
            <span *ngIf="nameError" _ngcontent-uqm-67="" class="text-danger">El campo es requerido</span>
          </div>
        </div>
      </fieldset>
      <fieldset _ngcontent-iou-53="">
        <div _ngcontent-iou-53="" class="form-group">
          <label _ngcontent-iou-53="" class="col-sm-2 control-label" for="input-id-2">Apellidos</label>
          <div _ngcontent-iou-53="" class="col-sm-10">
            <input _ngcontent-iou-53="" class="form-control" id="input-id-2" type="text" #lastName>
          </div>
        </div>
      </fieldset>
      <fieldset _ngcontent-iou-69="">
        <div _ngcontent-iou-69="" class="form-group">
          <label _ngcontent-iou-69="" class="col-sm-2 control-label" for="input-id-3">Correo</label>
          <div _ngcontent-iou-69="" class="col-sm-10">
            <input _ngcontent-iou-69="" class="form-control ng-untouched ng-pristine ng-valid" id="input-id-3" formcontrolname="email" placeholder="correo@ejemplo.com" type="email" #email>
            <span *ngIf="emailError" _ngcontent-uqm-67="" class="text-danger">El campo es requerido</span>
          </div>
        </div>
      </fieldset>
      <fieldset _ngcontent-iou-53="">
        <div _ngcontent-iou-53="" class="form-group">
          <label _ngcontent-iou-53="" class="col-sm-2 control-label" for="input-id-4">Usuario</label>
          <div _ngcontent-iou-53="" class="col-sm-10">
            <input _ngcontent-iou-53="" class="form-control" id="input-id-4" type="text" #username>
            <span *ngIf="usernameError" _ngcontent-uqm-67="" class="text-danger">El campo es requerido</span>
          </div>
        </div>
      </fieldset>
      <fieldset _ngcontent-iou-53="">
        <div _ngcontent-iou-53="" class="form-group">
          <label _ngcontent-iou-53="" class="col-sm-2 control-label" for="input-id-5">Contraseña</label>
          <div _ngcontent-iou-53="" class="col-sm-10">
            <input _ngcontent-iou-53="" class="form-control" id="input-id-5" name="password" type="password" #password>
            <span *ngIf="passwordsError" _ngcontent-uqm-67="" class="text-danger">El campo es requerido</span>
          </div>
        </div>
      </fieldset>
      <fieldset _ngcontent-iou-53="">
        <div _ngcontent-iou-53="" class="form-group">
          <label _ngcontent-iou-53="" class="col-sm-2 control-label" for="input-id-6">Confirmar contraseña</label>
          <div _ngcontent-iou-53="" class="col-sm-10">
            <input _ngcontent-iou-53="" class="form-control" id="input-id-6" name="password" type="password" #confirmPassword (keyup)="onKeyConfirmPassword(password.value, confirmPassword.value)">
            <span *ngIf="passwordError" _ngcontent-uqm-53="" class="text-danger">Las contraseñas no coinciden</span>
          </div>
        </div>
      </fieldset>
      <fieldset _ngcontent-iou-53="" class="last-child">
        <div _ngcontent-iou-53="" class="form-group">
          <label _ngcontent-iou-53="" class="col-sm-2 control-label">Quiero ser</label>
          <div _ngcontent-iou-53="" class="col-sm-10">
            <select _ngcontent-iou-53="" class="form-control" name="account" #role>
              <option _ngcontent-iou-53="">cliente</option>
              <option _ngcontent-iou-53="">proveedor</option>
            </select>
          </div>
        </div>
      </fieldset>
      <div _ngcontent-tpe-53="" class="form-group">
        <div _ngcontent-tpe-53="" class="col-lg-offset-2 col-lg-10">
          <button _ngcontent-tpe-53="" class="btn btn-sm btn-default" type="submit" (click)="register(name.value, lastName.value, email.value, username.value, password.value, role.value)">Registrarse</button>
        </div>
      </div>
      <span *ngIf="error" _ngcontent-uqm-67="" class="text-danger">{{errorMessage}}</span>
      <!--End Register fields-->

    </form>
  </div>
</div>
