<div *ngIf="error">
  Error
</div>

<loading *ngIf="!error && loading"></loading>

<div [hidden]="error || loading">
  <div [hidden]="(suscripciones | async)?.length" class="table-responsive">
    No hay ninguna suscripción
  </div>

  <div [hidden]="!(suscripciones | async)?.length" class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Número de sorteos</th>
          <th>Número de sorteos jugados</th>
          <th>Participaciones</th>
          <th>Fecha de suscripción</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let suscripcion of suscripciones | async">
          <td>{{suscripcion.numeroSorteos}}</td>
          <td>{{suscripcion.numeroSorteosJugados}}</td>
          <td>{{suscripcion.numeroParticipaciones}}</td>
          <td>{{suscripcion.fechaHora | date:'dd/MM/yyyy'}}</td>
          <td>
            <span class="label label-success">
              {{suscripcion.estado}}
            </span>
          </td>
          <td>
            <a (click)="this.showSorteosClick.emit(suscripcion)">Ver sorteos</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
