<div _ngcontent-rok-41="" class="wrapper">
  <div _ngcontent-rok-41="" class="abs-center">
    <div _ngcontent-rok-41="" class="text-center mv-lg">
      <h1 _ngcontent-rok-41="" class="mb-lg"><sup _ngcontent-rok-41=""><em _ngcontent-rok-41="" class="fa fa-cog fa-2x text-muted fa-spin text-info"></em></sup>
        <em _ngcontent-rok-41="" class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
        <em _ngcontent-rok-41="" class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
      </h1>
      <div _ngcontent-rok-41="" class="text-bold text-lg mb-lg">¡Estamos en mantenimiento!</div>
      <p _ngcontent-rok-41="" class="lead m0">Volveremos pronto</p>
    </div>
  </div>
</div>
