<modal #modal
       backdrop="static"
       (onClose)="onClose()"
       (onDismiss)="onDismiss()"
       (onOpen)="onOpen()">
  <div *ngIf="isModalShown">
    <modal-header [show-close]="true">
      <h4 class="modal-title">Sorteos</h4>
    </modal-header>
    <modal-body>
      <lista-sorteos *ngIf="isModalShown"
                     [suscripcion]="listaSuscripciones.selected"
                     [subject]="listaSorteos.subject"
                     (beforeQuery)="updateSorteosParams($event)">
      </lista-sorteos>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
  </div>
</modal>

<div class="content-heading">
  Suscripciones
  <small>A showcase of different components inside tables</small>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Demo Table #1</div>

  <input type="text" [(ngModel)]="listaSuscripciones.term" />
  <button type="button" [disabled]="isDisabled(listaSuscripciones.term)" (click)="search(listaSuscripciones.term)" class="btn">
    Buscar ({{term}})
  </button>

  <lista-suscripciones [subject]="listaSuscripciones.subject"
                       (beforeQuery)="updateSuscripcionesParams($event)"
                       (showSorteosClick)="showSorteos($event)">
  </lista-suscripciones>

  <!-- <div class="panel-footer">
    <div class="row">
      <div class="col-lg-2">
        <div class="input-group">
          <input class="input-sm form-control" type="text" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-lg-8"></div>
      <div class="col-lg-2">
        <div class="input-group pull-right">
          <select class="input-sm form-control">
            <option value="0">Bulk action</option>
            <option value="1">Delete</option>
            <option value="2">Clone</option>
            <option value="3">Export</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default">Apply</button>
          </span>
        </div>
      </div>
    </div>
  </div> -->
</div>
