<div class="content-heading">
  Servicios
  <small>A showcase of different components inside tables</small>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <filters-services [term]="servicesList.urlParams.get('term')"
                      (searchClick)="search($event)">
    </filters-services>
  </div>

  <grid-services [urlParams]="servicesList.urlParams"
                 (editClick)="showForm($event)"
                 (deleteClick)="deleteConfirmation($event)">
    <div loading>
      <loading></loading>
    </div>

    <div no-records>
      <!-- <no-records>No hay ninguna suscripción</no-records> -->
      <div>No hay ninguna suscripción</div>
    </div>

    <div error>
      <!-- <error>Error</error> -->
      <div>Error</div>
    </div>
  </grid-services>

  <!-- <div class="panel-footer">
    <div class="row">
      <div class="col-lg-2">
        <div class="input-group">
          <input class="input-sm form-control" type="text" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-lg-8"></div>
      <div class="col-lg-2">
        <div class="input-group pull-right">
          <select class="input-sm form-control">
            <option value="0">Bulk action</option>
            <option value="1">Delete</option>
            <option value="2">Clone</option>
            <option value="3">Export</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default">Apply</button>
          </span>
        </div>
      </div>
    </div>
  </div> -->
</div>
