<div class="content-heading">
  Servicios
  <small>A showcase of different components inside tables</small>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <filters-services [term]="servicesList.urlParams.get('term')"
                      (searchClick)="search($event)">
    </filters-services>
  </div>

  <grid-services [urlParams]="servicesList.urlParams"
                 (editClick)="showForm($event)"
                 (deleteClick)="deleteConfirmation($event)">
    <div loading>
      <loading></loading>
    </div>

    <div no-records>
      <!-- <no-records>No hay ninguna suscripción</no-records> -->
      <div>No hay ninguna suscripción</div>
    </div>

    <div error>
      <!-- <error>Error</error> -->
      <div>Error</div>
    </div>
  </grid-services>
</div>
