<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal ng-untouched ng-pristine ng-valid">
      <!--Start of Username fields-->
      <fieldset>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="input-id-1">Usuario</label>
          <div class="col-lg-10">
            <input class="form-control" id="input-id-1" placeholder="Usuario / Correo" type="text" #username>
            <span *ngIf="usernameError" class="text-danger">El campo es requerido</span>
          </div>
        </div>
      </fieldset>
      <!--End of Username fields-->
      <!--Start of Password fields-->
      <fieldset class="last-child">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="input-id-2">Contraseña</label>
          <div class="col-lg-10">
            <input class="form-control" id="input-id-2" type="password" #password>
            <span *ngIf="passwordError" class="text-danger">El campo es requerido</span>
          </div>
        </div>
      </fieldset>
      <!--End of Password fields-->
      <button class="btn btn-sm btn-default" type="submit" (click)="logIn(username.value, password)">Iniciar sesión</button>
      <span *ngIf="error" class="text-danger">{{errorMessage}}</span>
      <br>
      <br>
      <span>¿No tienes una cuenta? <span (click)="redirectToRegister()" class="link">Regístrate acá</span></span>
    </form>
  </div>
</div>
