<div _ngcontent-tpe-53="" class="panel panel-default">
  <div _ngcontent-tpe-53="" class="panel-body">
    <form _ngcontent-tpe-53="" class="form-horizontal ng-untouched ng-pristine ng-valid">

      <!--Start of Log In fields-->
      <span *ngIf="error" _ngcontent-uqm-67="" class="text-danger">{{errorMessage}}</span>
      <div _ngcontent-tpe-53="" class="form-group">
        <label _ngcontent-tpe-53="" class="col-lg-2 control-label">Username</label>
        <div _ngcontent-tpe-53="" class="col-lg-10">
          <input _ngcontent-tpe-53="" class="form-control" placeholder="Username / Email" type="text" #username>
          <span *ngIf="usernameError" _ngcontent-uqm-67="" class="text-danger">This field is required</span>
        </div>
      </div>
      <div _ngcontent-tpe-53="" class="form-group">
        <label _ngcontent-tpe-53="" class="col-lg-2 control-label">Password</label>
        <div _ngcontent-tpe-53="" class="col-lg-10">
          <input _ngcontent-tpe-53="" class="form-control" placeholder="Password" type="password" #password>
          <span *ngIf="passwordError" _ngcontent-uqm-67="" class="text-danger">This field is required</span>
        </div>
      </div>
      <!--End of Log In fields-->

      <div _ngcontent-tpe-53="" class="form-group">
        <div _ngcontent-tpe-53="" class="col-lg-offset-2 col-lg-10">
          <button _ngcontent-tpe-53="" class="btn btn-sm btn-default" type="submit" (click)="logIn(username.value, password.value)">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
