/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/simple-line-icons/css/simple-line-icons.css';

@import '../node_modules/loaders.css/loaders.css';

@import '../node_modules/angular2-toaster/toaster.css';

//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";

@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";

@import "../node_modules/ng2-image-gallery/ng2-image-gallery.scss";

no-records {
  h4 {
    display: inline;
    margin-bottom: 0;
  }
}

table.table {
  &.table-bordered {
    & > thead {
      & > tr {
        &:first-child {
          th {
            border-top: rgb(238, 238, 238) solid 1px;
          }
        }
      }
    }
  }

  td.actions {
    table {
      td {
        &:not(:first-child){
          padding-left: 5px;
        }

        &:last-child {
          padding-right: 5px;
        }

        a {
          color: #000;
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }
  }
}
